<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style/style.css" />
    <title>Solution [NUMMER INSTRUCTIE]</title>
  </head>
  <body class="detail">
    <h1>
      <a
        href="https://github.com/devinekask/Workshop-Continuous-Integration/issues/[ISSUE NUMMER]"
      >
        [NUMMER INSTRUCTIE]</a
      >
    </h1>
    <canvas width="300" height="300"></canvas>
    <p>[NAAM]</p>
    <script type="module">
      import draw from "./solution.js";
      const canvas = document.querySelector("canvas");
      const ctx = canvas.getContext("2d");
      ctx.scale(3, 3);
      draw(ctx);
    </script>
  </body>
</html>
